
{deps, [
    {piqi, "", {git, "git://github.com/alavrik/piqi-erlang.git", {branch, "master"}}},
    {mochiweb, "", {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.12.2"}}},
    {webmachine, "", {git, "https://github.com/webmachine/webmachine.git", "4edbea20f05dde54cd83e562ec29ae4cc5669f76"}}
]}.


% ex: sw=4 ts=4 et ft=erlang
