{require_otp_vsn, "R13B04|R14|R15"}.


{deps,
    [
        {piqi, "", {git, "https://github.com/alavrik/piqi-erlang.git", {branch, "dev"}}},
        {webmachine, "", {git, "https://github.com/basho/webmachine.git", {branch, "master"}}}
    ]}.


{post_hooks, [
        {'get-deps', "make/post-hooks-get-deps"},

        {'delete-deps', "rm -f src include"},
        {'delete-deps', "ln -s fake_src src"}
    ]}.


% vim:ft=erlang
