
{deps, [
    %{piqi, "", {git, "https://github.com/alavrik/piqi-erlang.git", {tag, "v0.6.0"}}},
    {piqi, "", {git, "/home/alavrik/devel/pe/piqi-erlang/.git", {branch, "t"}}},
    {webmachine, "", {git, "https://github.com/basho/webmachine.git", {tag, "1.9.3"}}}
]}.


% ex: sw=4 ts=4 et ft=erlang
