
% this is needed to pick piqic_erlang application for inclusion in the
% "piqic-erlang-rpc" escript
{lib_dirs, ["."]}.


% these options are used by "rebar escriptize"
{escript_name, "piqic-erlang-rpc"}.
{escript_emu_args, "%%! -escript main piqic_erlang_rpc\n"}.
{escript_incl_apps, [piqic_erlang]}.


% ex: ft=erlang
