
% this is needed to pick the "piqi" application for inclusion in the
% "piqic-erlang-rpc" escript
{lib_dirs, ["../deps"]}.


% these options are used by "rebar escriptize"
{escript_name, "piqic-erlang-rpc"}.
{escript_emu_args, "%%! -escript main piqic_erlang_rpc\n"}.
{escript_incl_apps, [piqi]}.


% ex: ft=erlang
